<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>StudyLink</title>
	<!--/*부트스트랩 링크*/-->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/header-style.css}">
	<link rel="stylesheet" th:href="@{/css/contents.css}">
	<script th:src="@{/js/header.js}"></script>

	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

	<div class="wrap">
		<div th:replace="~{fragments/header :: header}"></div>

		<div layout:fragment="content"></div>

		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>


<!--<div class="wrap">-->
<!--	&lt;!&ndash; Header Fragment &ndash;&gt;-->
<!--	<div th:insert="~{fragments/header :: header}"></div>-->

<!--	&lt;!&ndash; Main Content &ndash;&gt;-->
<!--	<div class="content_box">-->

<!--	</div>-->

<!--	&lt;!&ndash; Footer Fragment &ndash;&gt;-->
<!--	<div th:insert="~{fragments/footer :: footer}"></div>-->
<!--</div>-->

</body>
</html>