<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="content_box">
    <link rel="stylesheet" href="/css/board.css">
    <script src="/js/board.js"></script>
    <p class="life_campus">즐거운 대학캠퍼스 생활</p>

    <div class="search_campus">
        <div class="register_campus_link">
            <a href="/board/board_register">대학생활 등록하기</a>
        </div>

        <form class="form_board" role="search" action="/board/board_list" method="get">
            <div class="form_board_box">
                <select class="form-select" name="type" aria-label="Default select example">
                    <option th:selected="${ph.type eq null}" >전체</option>
                    <option value="t" th:selected="${ph.type eq 't'}">최신 순</option>
                    <option value="w" th:selected="${ph.type eq 'w'}">조회수 순</option>
                    <option value="c" th:selected="${ph.type eq 'c'}">좋아요 순</option>
                    <option value="tc" th:selected="${ph.type eq 'tc'}">댓글 순</option>
                </select>
                <input class="form-control" type="search" name="keyword" th:value="${ph.keyword}" placeholder="검색" aria-label="검색어를 선택하세요." />
                <input type="hidden" name="pageNo" th:value="1">
            </div>
            <button type="submit" class="btn search_button">
                검색
                <span class="g">
                      [[${ph.totalElement}]]
                    </span>
            </button>
        </form>


        <div class="board_list_view">
            <div class="board_list_box">
                <div class="board_img">
                    <img src="/img/logo_img.png" alt="">
                </div>
                <div class="board_infobox">
                    <div class="board_title_class">여기는 제목입니다.</div>
                    <p>admin</p> <!-- 작성자 -->
                    <p>admin 학과</p> <!-- 학과 -->
                    <div class="date_flex">
                        <p>2026-01-12</p>
                        <p>5</p>
                    </div>
                </div>
            </div>
        </div>











    </div>


</div>