@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply no-underline hover:underline transition-colors;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer utilities {
  .mask-image-gradient-vertical {
    mask-image: linear-gradient(
      to bottom,
      transparent,
      black 15%,
      black 85%,
      transparent
    );
  }
}

/* Custom Perspective for 3D elements */
.perspective-1000 {
  perspective: 1000px;
}

.rotate-y-\[-12deg\] {
  transform: rotateY(-12deg);
}

.rotate-x-\[5deg\] {
  transform: rotateX(5deg);
}
