.life_campus {text-align: center; font-size:30px; font-weight: 700; margin-bottom:0; margin-top:30px;}
.campus_tab_list {display: flex; align-items: center; justify-content: center; gap:20px; text-align:center; cursor:pointer; margin-top:20px;}
.campus_tab_list li.active {color:var(--primary-color); font-weight: 700; cursor:pointer;}
.campus_tab_list li {width:100px;}
.search_campus {margin-top:30px;}

.board_list_box {margin-top:20px; border:1px solid var(--border-color); border-radius: 10px;}
.register_campus_link {text-align: right; padding-right:20px; font-weight: 700; font-size:20px; color:var(--primary-color); margin-bottom:20px;}
.register_campus_link span {cursor:pointer;}
.board_img img {max-width:400px; height:150px; display: block; margin:0 auto;}
.board_img { border-bottom:1px solid var(--border-color); padding:20px 0;}
.board_title_class {font-size:20px; font-weight: 700; margin-top:10px;}
.date_flex {display: flex; align-items: center; justify-content: space-between}
.board_list_view {display: grid; grid-template-columns:repeat(4, 1fr); gap:20px; padding:0 20px 30px;}
.board_infobox {padding:0 20px; border:1px solid var(--border-color); border-radius: 10px;}
.board_title_not {text-align: center;}
.search_button {background: var(--primary-color); flex:none; color:#fff;}
.search_button:hover {background: var(--primary-color); color:#fff;}
.form_board {display: flex; justify-content: flex-end; align-items: center; gap:20px; padding:0 20px;}
.form_board_box {display: flex; align-items: center; gap:10px;}
.form_board_box select, .form_board_box input {width:100%; display: block;}
.form_board_box input {min-width:250px;}
.pagination {padding:30px 0;}
.total_gun {text-align: right; font-size:20px; font-weight: 700; margin:10px 0 30px; padding:0 20px;}
.total_gun span {color:crimson; }
.link_board_details {cursor:pointer;}