.notice {
  margin-top: 12px;
  line-height: 1.6;
  font-size: 12px;
  color: #6c757d;
  /* white-space 기본값 normal 유지 */
}

.link-span {
  text-decoration: underline;
  cursor: pointer;
}

.product-box {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 50px;
  padding: 44px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.price-row {
  display: flex;
  justify-content: space-between; /* 양쪽 끝으로 */
  align-items: center;
  margin-bottom: 8px;
}

.price-row.total {
  font-weight: 700;
  font-size: 1.05rem;
  margin-top: 20px;
}

.subscribe-btn {
  width: 100%;              /* 가로 100% */
  margin-top: 30px;
  padding: 14px 0;
  border-radius: 999px;     /* 완전 둥근 버튼 */
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background-color: black;
  color: white;
}

