.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    min-height: 100px; /* 메시지가 위에 붙지 않도록 최소 높이 */
}

.empty-message {
    grid-column: 1 / -1; /* 전체 열 span */
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    align-self: center; /* 세로 가운데 */
    justify-self: center; /* 가로 가운데 */
}

.grid-item {
    border: 1px solid black;
    text-align: center;
    height: 100px; /* 높이 고정 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#privateContainer {
    grid-template-rows: repeat(1, 100px);
}

#publicContainer {
    grid-template-rows: repeat(3, 100px);
}

.private-room-big-card {
    padding: 16px;
    border-radius: 32px;
    background-color: #F8F9FA;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 32px;
}

.public-room-big-card {
    padding: 16px;
    border-radius: 44px;
    background-color: #F8F9FA;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 32px;
}

.room-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    box-sizing: border-box;
}