/* 메시지 영역 */
#messageArea {
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* 메시지 컨테이너 - 공통 */
.message-container {
    display: flex;
    align-items: end;
    margin: 4px 0;
}

/* 내 메시지 컨테이너 */
.message-container-right {
    justify-content: flex-end;
}

/* 상대 메시지 컨테이너 */
.message-container-left {
    justify-content: flex-start;
}

/* 메시지 박스 */
.message-left {
    background-color: #e0e0e0;
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 12px;
    word-wrap: break-word;
    white-space: pre-wrap; /* 공백과 줄바꿈 유지 */
}

.message-right {
    background-color: #0084ff;
    color: white;
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 12px;
    word-wrap: break-word;
    white-space: pre-wrap; /* 공백과 줄바꿈 유지 */
}

/* 읽음 표시 */
.read-indicator {
    font-size: 12px;
    color: red;
    background: transparent; /* 배경 없음 */
    margin-right: 6px;       /* 메시지와 간격 */
}

/* 스크롤 숨기기 */
#messageArea::-webkit-scrollbar {
    display: none;
}

/* 채팅창 이미지 크기 */
.chat-image {
    max-width: 100px;      /* 이미지 가로 최대 크기 */
    max-height: 100px;     /* 이미지 세로 최대 크기 */
    width: auto;           /* 비율 유지 */
    height: auto;          /* 비율 유지 */
    border-radius: 8px;    /* 모서리 살짝 둥글게 */
    object-fit: cover;     /* 영역에 맞춰 이미지 자르기 가능 */
}