<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
	<div id="" style="width: 1000px; margin: 0 auto;">
		<div style="display: flex; justify-content: space-between; align-items: center; margin-top: 16px">
			<div>
				<h3>Sqecial Question</h3>
				<p>1:1 선택 질문으로, 우선순위로 답변해주세요</p>
			</div>
			<form action="/room/makeRoom" method="get" sec:authorize="hasRole('STUDENT')">
				<button type="submit" class="btn btn-primary">문제 등록</button>
			</form>
		</div>
		<div class="private-room-big-card">
			<div id="privateContainer" class="text-center grid-container">
				<div th:if="${privateRoomPage.totalElements == 0}" class="empty-message">
					모든 문제가 해결되었습니다.
				</div>
			</div>
		</div>
		<nav aria-label="Page navigation example" class="mt-2 d-flex justify-content-center"th:if="${privateRoomPage.totalPages > 1}">
			<!-- private 페이지네이션 -->
			<ul class="pagination">
				<!-- 이전 그룹 -->
				<li class="page-item" th:classappend="${privateStartPage == 0} ? 'disabled'">
					<a class="page-link" th:href="@{/room/list(privatePage=${privatePrevGroup}, publicPage=${roomPage.number})}">&lt;&lt;</a>
				</li>

				<!-- 현재 그룹 페이지 번호 -->
				<li class="page-item" th:each="i : ${#numbers.sequence(privateStartPage, privateEndPage - 1)}"
					th:classappend="${i == privateRoomPage.number} ? 'active'">
					<a class="page-link" th:text="${i + 1}"
					   th:href="@{/room/list(privatePage=${i}, publicPage=${roomPage.number})}"></a>
				</li>

				<!-- 다음 그룹 -->
				<li class="page-item" th:classappend="${privateEndPage >= privateRoomPage.totalPages} ? 'disabled'">
					<a class="page-link" th:href="@{/room/list(privatePage=${privateNextGroup}, publicPage=${roomPage.number})}">&gt;&gt;</a>
				</li>
			</ul>
		</nav>
		<br/>

		<h3>StudyLink Question</h3>
		<p>답변 가능한 과목으로 선택한 과목의 질문만 확인할 수 있습니다.</p>
		<div class="public-room-big-card">
			<div id="publicContainer" class="text-center grid-container">
				<div th:if="${roomPage.totalElements == 0}" class="empty-message">
					모든 문제가 해결되었습니다.
				</div>
			</div>
		</div>
		<nav aria-label="Page navigation example" class="mt-2 d-flex justify-content-center"th:if="${roomPage.totalPages > 1}">
			<ul class="pagination">
				<!-- 이전 그룹 -->
				<li class="page-item" th:classappend="${publicStartPage == 0} ? 'disabled'">
					<a class="page-link" th:href="@{/room/list(publicPage=${publicPrevGroup}, privatePage=${privateRoomPage.number})}">&lt;&lt;</a>
				</li>

				<!-- 현재 그룹 페이지 번호 -->
				<li class="page-item" th:each="i : ${#numbers.sequence(publicStartPage, publicEndPage - 1)}"
					th:classappend="${i == roomPage.number} ? 'active'">
					<a class="page-link" th:text="${i + 1}"
					   th:href="@{/room/list(publicPage=${i}, privatePage=${privateRoomPage.number})}"></a>
				</li>

				<!-- 다음 그룹 -->
				<li class="page-item" th:classappend="${publicEndPage >= roomPage.totalPages} ? 'disabled'">
					<a class="page-link" th:href="@{/room/list(publicPage=${publicNextGroup}, privatePage=${privateRoomPage.number})}">&gt;&gt;</a>
				</li>
			</ul>
		</nav>
	</div>

	<script th:inline="javascript">
        // 서버에서 넘어온 데이터를 JS 변수로 변환
        let roomList = [[${roomList}]];
        let privateRoomList = [[${privateRoomList}]];
        let message = [[${message}]] // redirect시 담겨오는 메시지
	</script>
	<script src="/js/roomList.js"></script>
</div>
