<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
	<h1>문제 리스트 페이지</h1>

	<form action="/room/enterRoom" method="post">
		<input type="hidden" name="username" th:value="${#authentication.name}">
		<button type="submit">문제 등록</button>
	</form>

	<h3>Sqecial Question</h3>
	<p>1:1 선택 질문으로, 우선순위로 답변해주세요</p>
	<div id="privateContainer" class="text-center grid-container"></div>
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
	<br/>

	<h3>Qube Question</h3>
	<p>답변 가능한 과목으로 선택한 과목의 질문만 확인할 수 있습니다.</p>
	<div id="publicContainer" class="text-center grid-container"></div>

	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
	<script th:inline="javascript">
        // 서버에서 넘어온 데이터를 JS 변수로 변환
        let roomList = [[${roomList}]];
        let privateRoomList = [[${privateRoomList}]];
	</script>
	<script src="/js/roomList.js"></script>
</div>
